.foliage {
  position: relative;
  z-index: 1;
  width: calc(100% + 2rem);
  margin-top: 16px;
  margin-right: -1rem;
  margin-bottom: 0;
  margin-left: -1rem;
  pointer-events: none;
  user-select: none;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}

@media (min-width: 641px) {
  .foliage {
    width: calc(100% + 3rem);
    margin-top: 24px;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}
